.container_peixe {
  display: flex;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 50vw;
}

.peixe {
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.texto_peixe {
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotate 20s infinite linear;
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@media screen and (min-width: 300px) and (max-width: 700px) {
  .peixe {
    width: 125px;
  }
  .texto_peixe {
    width: 250px;
  }

  .container_peixe {
    height: 100vw;
  }
}
